#!/usr/bin/make -f
#export DH_VERBOSE = 1

BASEDIR=debian/gnome-shell-extension-vertical-overview/usr/share/gnome-shell/extensions/vertical-overview@RensAlthuis.github.com

%:
	dh $@ --buildsystem=meson

override_dh_install:
	# delete schema-directory.
	rm -rf $(BASEDIR)/schemas
	dh_install
